In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("../dataset/Hotels-Jakarta.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_name          676 non-null    object
 1   hotel_name_link     676 non-null    object
 2   review_score        676 non-null    float64
 3   review_score_text   676 non-null    object
 4   review_score_title  676 non-null    object
 5   hotel_image         676 non-null    object
 6   hotel_price         676 non-null    object
dtypes: float64(1), object(6)
memory usage: 37.1+ KB